.board {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    color: #000;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: 2s ease-in-out;
    z-index: 5;
}

.enabled {
    background: #B7E5FA;
}

.disabled {
    background: #5BC5F3;
}